#alink {
	padding-top:10px; 
	font-size:14px;
	color:#FFFFFFF;
 }
 
 #alink visited:{
 text-decoration:none;
 font-size:14px;
 color:#FFFFFFF;
 }
 
 #alink hover:{
 font-size:14px;
 color:red;
 
 }
 #alink link:{
 font-size:14px;
 color:#FFFFFFF;
 }
 
 #alink active:{
 font-size:14px;
 color:#FFFFFFF;
 
 }
 
 #astrolagy{
 float:left;
 text-align:left; 
 width:560px; 
 height:30px; 
 margin-top:20px;
 }
 
#astrolagydiv{
 float:left;
 background-color:#225B6F;
 font-size:14px;
 font-weight:bold;
 color:#FFFFFF;
	}	
