@charset "utf-8";
body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	font-style: normal;
	color: #000;
	margin: 0px;
	padding: 0px;
	background-color:#595959;
	line-height: 17px;
}
#header
{
	border:1px solid #ccc; 
	border-bottom: 0px;
	margin-bottom:0px;
	float:left;
	background-color:#fff; 
	width:100%;
}
#img{
	border: 1px solid gray;
	padding: 1px;
	}
a{
color:#228BEE; font-size:12px; text-decoration:none;
}
ul{
	margin:0px;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:25px;
}
li{
	color:#228BEE;
	line-height: 17px;
}
#ln{
	color:#3398FF; font-size:13px; text-decoration:none;
}
#logo{
	background-image:url(../image/logo_v1.png);
	height:62px;
	width:240px;
}
#menu{
	background-image:url(../image/img1.gif);
	background-repeat:repeat-x;
	background-position:0px -1px;
	height:29px;
	width:100%;
	margin-bottom:2px;
}
#sub_window_title{
	background-image:url(../image/img1.gif);
	background-repeat:repeat-x;
	background-position:0px -61px;
	width:100%;
	height:29px;
}
#sub_window_title_tab{
	background-image:url(../image/img1.gif);
	background-repeat:repeat-x;
	background-position:0px -61px;
	width:110px;
	height:29px;
}
#title_left_curve{
	background-image:url(../image/img1.gif);
	background-position:0px -32px;
	background-repeat:no-repeat;
	width:11px;
	height:29px;
	float:left;
}
#title_right_curve{
	background-image:url(../image/img1.gif);
	background-position:0px -90px;
	background-repeat:no-repeat;
	width:12px;
	height:29px;
	float:right;
}
.newsletter
{
background-color:#BDE0E9;
border-top:1px solid #A9CCDE;
border-bottom:1px solid #A9CCDE;
}
.ardikam{
border-top:1px solid #CFB811;border-left:1px solid #CFB811;border-right:1px solid #CFB811;
}
#sub_window_content{
	padding-top:0px;
	margin-top:0px;
	border-left:1px solid #CFB811;
	border-right:1px solid #CFB811;
}
#sub_window_footer{
	height:8px;
	width:100%;
	background-image:url(../image/img1.gif);
	background-repeat:repeat-x;
	background-position:0px -142px;
}
#footer_left_curve{
	background-image:url(../image/img1.gif);
	background-position:0px -127px;
	width:12px;
	height:8px;
	float:left;
}
#footer_right_curve{
	background-image:url(../image/img1.gif);
	background-position:0px -171px;
	width:12px;
	height:8px;
	float:right;
}
#news_window_title{
	background-image:url(../image/img1.gif);
	background-repeat:repeat-x;
	background-position:0px -229px;
	width:100%;
	height:24px;
}
#news_title_left_curve{
	background-image:url(../image/img1.gif);
	background-position:0px -197px;
	width:11px;
	height:24px;
	float:left;
}
#news_title_right_curve{
	background-image:url(../image/img1.gif);
	background-position:0px -261px;
	width:11px;
	height:24px;
	float:right;
}
#news_window_content{
	border-left:1px solid #757575;
	border-right:1px solid #757575;
	border-top:1px solid #757575;
	background-color:#F6F6F6;
}
#newslet_letter{
	height:81px;
	width:100%;
	margin-top:0px;border:1px solid #368CA3
}
#newslet_left{
	background-image:url(../image/news_letter.png);
	background-repeat:none;
	background-position:0px -0px;
	height:81px;
	width:5px;
	float:left;
}
#newslet_middle{
	background-image:url(../image/news_letter.png);
	background-repeat:repeat-x;
	background-position:0px -105px;
	height:81px;
	width:155px;
	float:left;
}
#newslet_right{
	background-image:url(../image/news_letter.png);
	background-repeat:none;
	background-position:0px -212px;
	height:81px;
	width:5px;
	float:left;
}
#top_img{
	background-image:url(../image/news_que.png);
	background-repeat:none;
	background-position:0px 0px;
	height:6px;
	width:100%;
}
#bot_img{
	background-image:url(../image/news_que.png);
	background-repeat:none;
	background-position:0px -7px;
	height:6px;
	width:100%;
}
#news_window_footer{
	height:8px;
	width:100%;
	background-image:url(../image/img1.gif);
	background-repeat:repeat-x;
	background-position:0px -309px;

}
#news_footer_left_curve{
	background-image:url(../image/img1.gif);
	background-position:0px -332px;
	width:12px;
	height:8px;
	float:left;
}
#news_footer_right_curve{
	background-image:url('../images/img1.gif');
	background-position:0px -290px;
	width:12px;
	height:8px;
	float:right;
}

#footer_left{
	background-image:url(../image/footer.png);
	background-position:0px 0px;
	width:18px;
	height:32px;
	float:left;
}
#footer_menu{
	background-image:url(../image/footer.png);
	background-position:0px -33px;
	background-repeat:repeat-x;
	width:100%;
	height:32px;
}
#footer_menu a{
	color:#FFFFFF;
	font-size: 12px;
	}
#footer_right{
	background-image:url(../image/footer.png);
	background-position:0px -67px;
	width:18px;
	height:32px;
	float:right;
}
#enati_vishe{
color:red; font-size:14px; line-height:29px;
text-align:left;
font-weight:600;
}
#special{
color:red; 
font-size:14px;
line-height:30px;
}
#sangeetham {
	list-style-image: url(../image/side.gif);
}
/* for cilk more news */
#news_more
{
color:#AEAEAE;
font-size:10px;
text-align:right;
margin-right:4px;
}
#news_more a
{
color:#AEAEAE;
font-size:10px;
text-align:right;
margin-right:4px;
text-decoration:none;
}
/* main menu */
.solidblockmenu{
margin: 0;
padding: 0;
float: left;
font:  14px Arial;
overflow: hidden;
margin-bottom: 1em;
border-width: 0px 0;
}

.solidblockmenu li{
display: inline;
color: #FFF;
width: 60px;
}

.solidblockmenu li a{
font:  14px Arial;
float: left;
padding: 0px 8px;
text-decoration: none;
height:26px;
color: #FFF;
margin-top:7px;
text-align: center;
width: 42px;
}

.solidblockmenu li a:visited{
}
.solidblockmenu li a:hover, .solidblockmenu li .current{
color: rgb(190, 191, 59);
}
#ch_color
{
	float:right;
	margin-top:5px;
	padding-right:4px;
	color:#FFF;
	width:225px;
}
/* newspage */
#question{
	background-image: url(../image/123.png);
	background-repeat: no-repeat;
	height: 40px;
	font-size: 12px;color: yellow;
	text-align: center;
	width: 145px;
	margin-top: 4px;
	}
#bgslis{
background-image:url(../image/color.gif);
background-repeat:repeat-x;
float:right; width:560px; height:28px; text-align:left;
}
#greet_font
{
	padding-left: 10px;font-size: 16px;
	color:#205461;
	font-weight: bold;
}

.top-menu {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	color: #000000;
}
.top-menu-link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #03aadf;
}
#content {
	width: 708px;
}
.content {
	width: 708px;
	margin-left: 30px;
	border: 1px;
}
.content {
	height: 700px;
	border: 0px solid #368CA3;
}
.content #info {
	float: left;
	width: 174px;
}

greet_menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	}
#greet_menu{
	width: 144px;
	border-style: solid solid none solid;
	font-family:"Trebuchet MS";
	font-size:13px;
	border-color: #979797;
	border-size: 0px;
	border-width: 0px;
	padding-left: 2px;
	}
	
#greet_menu li a {
	height: 21px;
  	voice-family: "\"}\""; 
  	voice-family: inherit;
	text-decoration: none;
	text-align: left;
	}	
	
#greet_menu li a:link, #greet_menu li a:visited {
	color: #225E73;
	display: block;
	background:url(../image/main1.jpg);
	background-repeat:no-repeat;
	padding:3px 0 0 30px;
	text-align: left;
	}
	
#greet_menu li a:hover {
	color: #000;
	background: url(../image/hover1.jpg);
	background-repeat:no-repeat;
	padding:3px 0 0 30px;
	text-align: left;
	}
	
#greet_menu li a:active {
	color: #26370A;
	background: url(../image/li-img2.gif) repeat-x;
	padding: 4px 0 0 30px;
	text-align: left;
	}

.content #info3 #Left-footer {
	background-image: url(../image/left-footer.jpg);
	background-repeat: no-repeat;
	height: 28px;
	width: 165px;
}
#information {
	text-align:center;
	margin:0px;
	padding: 4px 0px 0px 0px;
	font-family:Geneva, Arial, Helvetica, sans-serif;
    font-size:16px;
	font-weight:bold;
	color:#FFFFFF;
	height:24px;
}
.content #bloodreq {
	margin-top: 4px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: 10px;
}


.blood-header {
	float: right;
	padding-top: 2px;
	padding-right: 3px;
	padding-bottom: 0px;
	padding-left: 0px;
	font-family: "Trebuchet MS";
	font-size: 13px;
	font-weight: bolder;
	color: #FFFFFF;
	text-transform: none;
}
#categori{
background-image:url(../image/categories2.jpg);
width:145px;
height:28px;
background-repeat:no-repeat;
margin-top:2px;
}
#paginate_div
{
	float: right;width: 40%;text-align: right;padding-right: 5px;
}
.pages1 {
	font-weight: bold;
	text-align: left;
	margin-right: 5px;
	padding-right: 5px;
	text-decoration: none;
	height: 25px;
	width:100%;
	font-size: 13px;
}
.pages a{
font-size: 13px;
}
#main_gree_div
{
	width:560px;float:left; margin-left:5px;border:1px solid #CFB811;
	border-top:0px; 
}
#paginate_div a{
	color:#205461;
	font-weight: bold;
}
#gree_td td
{
	border-top: 1px solid #CFB811;
 	border-right: 1px solid #CFB811;
 	padding-left: 10px;
 	height: 30px;
	font-size: 12px;
}
#gree_td
{
	border-left: 1px solid #CFB811;
	border-bottom: 1px solid #CFB811;
}
#gree_inner
{
float: left;text-align: center;width:650px;border: 1px solid #CFB811;margin-left: 5px;
}
#sc_div
 {
 float: left;width: 100%;text-align: left;background-color: #FDF7D5;margin-top: -15px; 
 }
  #sc_div a
 {
 font-size: 14px;
 font-weight: normal;
 color:#000000;
 letter-spacing: 1px;
 }
 /* tabs*/
  .tabberlive .tabbertabhide {
 display:none;
}

.tabber {
}
.tabberlive {
 margin-top:1em;
}

ul.tabbernav
{
 margin:0;
 padding: 3px 0;
 border-bottom: 1px solid #CFB811;
 font: bold 12px Verdana, sans-serif;
 text-align: left;
}

ul.tabbernav li
{
 list-style: none;
 margin-left: 0px;
 display: inline;
}

ul.tabbernav li a
{
 padding: 4px 0.5em;
 margin-left: 3px;
 border: 1px solid #CFB811;
 border-bottom: none;
 text-decoration: none;
}

ul.tabbernav li a:link {
	 color: #448;
	  background-image: url(../image/ta4.png);
}
ul.tabbernav li a:visited { 
	color: #667;
	 background-image: url(../image/ta4.png);
}

ul.tabbernav li a:hover
{
 color: #27537A;
 background-image: url(../image/ta4.png);
 border-color: #CFB811;
}

ul.tabbernav li.tabberactive a
{

  background-image: url(../image/hover4.png);
 border-bottom: 1px solid #fff;
 color: red;
}

ul.tabbernav li.tabberactive a:hover
{
 color: red;
 background: #fff;
 border-bottom: 1px solid #fff;
}

.tabberlive .tabbertab 
	{
 padding:5px;
 border:1px solid #CFB811;
 border-top:0;

}
.tabberlive#tab1 {
}
.tabberlive#tab2 {

}
.tabberlive#tab2 .tabbertab {
 overflow:auto;
 text-align: left;
}
#hr1{
	font-size: 13px;
}