
body{
padding:0px;
margin:0px;
margin-left:0px;
margin-right:0px;
margin-top:0px;
margin-bottom:0px;
}
.topline{
      background-image:url(imgs/top-line.jpg);
	  background-repeat:repeat-x;
	  height:80px;
}

#buttion{
background-image:url(imgs/home.jpg);
background-repeat:no-repeat;
height:23px;
}
#buttion1{
background-image:url(imgs/about-buttion.jpg);
background-repeat:no-repeat;
height:23px;
}

#buttion2{
background-image:url(imgs/cinima.jpg);
background-repeat:no-repeat;
height:23px;
}
#buttion3{
background-image:url(imgs/vidio.jpg);
background-repeat:no-repeat;
height:23px;
}
#buttion4{
background-image:url(imgs/galleri.jpg);
background-repeat:no-repeat;
height:23px;
}
#buttion5{
background-image:url(imgs/gratings.jpg);
background-repeat:no-repeat;
height:23px;
}
#buttion6{
background-image:url(imgs/mahila.jpg);
background-repeat:no-repeat;
height:23px;
}
#buttion7{
background-image:url(imgs/sahethi.jpg);
background-repeat:no-repeat;
height:23px;
}
#buttionline{
      background-image:url(imgs/buttion-line.jpg);
	  background-repeat:repeat-x;
	  height:7px;
}
#scrollingnews{
height:37px;

}
#leftline{
background-image:url(imgs/crow-line.jpg);
background-repeat:no-repeat;
height:318px;
}
#rightline{
background-image:url(imgs/crow-line1.jpg);
background-repeat:no-repeat;
height:318px;
}
#poli{
      background-image:url(imgs/policioal-buttion.jpg);
	  background-repeat:repeat-x;
	  height:26px;
}
#cri1{
      background-image:url(imgs/cridalu.jpg);
	  background-repeat:repeat-x;
	  height:26px;
}
#cinima2{
      background-image:url(imgs/cinima-poli.jpg);
	  background-repeat:repeat-x;
	  height:26px;
}
#vido3{
      background-image:url(imgs/vidio-poli.jpg);
	  background-repeat:repeat-x;
	  height:26px;
}
#tock-line-center{
      background-image:url(imgs/tock-line-center.jpg);
	  background-repeat:repeat-x;
	  height:34;
	  border-top:1px solid #1D77B3
}
#tock-botom-center{
      background-image:url(imgs/tock-botom-center.jpg);
	  background-repeat:repeat-x;
	  height:281;
}
#add-line{
      background-image:url(imgs/add-line-center.jpg);
	  background-repeat:repeat-x;
	  height:456;
}
#gmail-img{
      background-image:url(imgs/tock-line-center.jpg);
	  background-repeat:repeat-x;
	  height:35;
}
#center-line{
      background-image:url(imgs/gmail-seline.jpg);
	  background-repeat:repeat-x;
	  height:166;
}
#img-senter{
      background-image:url(imgs/tock-line-center.jpg);
	  background-repeat:repeat-x;
	  height:34;
}
#center-img{
      background-image:url(imgs/center-nizio.jpg);
	  background-repeat:repeat-x;
	  height:220;
}
#senter3{
      background-image:url(imgs/serter-3.jpg);
	  background-repeat:repeat-x;
	  height:31;
}
.senterbotom{
      background-image:url(imgs/senter-botom.jpg);
	  background-repeat:repeat-x;
	  height:;
}
#botomtop{
      background-image:url(imgs/serter-3.jpg);
	  background-repeat:repeat-x;
	  height:31;
}
#botom-ser{
      background-image:url(imgs/botom-med.jpg);
	  background-repeat:repeat-x;
	  height:109;
}
#political{
      border-left:1px solid #0474b6;
	  border-right:1px solid #0474b6;
}
#poli_td{
    border-left:1px solid red;  
}
#poli_td{
margin-left:1px;
}
#photigalleri{
    border-left:1px solid #3daff6;
	border-right:1px solid #3daff6;
}
#photocenter{
    border-left:1px solid #3daff6;
	border-right:1px solid #3daff6;
}
#phogalleri-sr{
      background-image:url(imgs/poli-inr-ser.png);
	  background-repeat:repeat-x;
	  height:160;
}
#photog-md{
     margin-bottom:7px;
}
#img-center{
border-right:0px solid #000099;
} 
#newstable{
	background-image: url(imgs/img-center1.jpg);
	background-repeat: repeat-x;
	border: 1px solid #3789C3;
	height:240px;
	width: 375px;
	} 
#news_heading{
	background-image: url(imgs/img-center-slic.jpg);
	background-repeat: repeat-x;
	height: 28px;
	width:100%;
	} 
#news_content{
	background-image: url(imgs/news-center.jpg);
	background-repeat: repeat-x;
	height: 500px;
	}

#news-more{
color:red;
}

#more-news-div{
text-align: right;
text-decoration: none;
}
#more-news-div a:link{
	text-decoration: none;
	color: red;
	}
#more-news-div a:hover{
	text-decoration: none;
	color:#A0522D;
	}
#more-news-div a:visited{
	text-decoration: none;
	color:red;
	}
#newsheading{
	padding-left: 8px;
	font-size: 14px;
	font-weight: bold;
}
#changeview{
padding-left: 160px;
}
#news_inner{
	width:100%;
	border: 1px solid red;
	height: 100px;
}
#newsinnerleft{
	border: 1px solid red;
	height: 100px
}
#newsinner-right{
	border: 1px solid red;
	height: 100px;
}
#maintable{
border:0px;
cellpadding:5px;
cellspacing:0px;
}
.heading{
border:1px solid #9FA0A0;
height: 27px;
}
.help{
height: 30px;
border-bottom: 2px solid #9FA0A0; 
width: 89%; 
}
.content{
width: 100%;
}
#maindiv-news{
border:1px solid #9FA0A0;
}
#formdiv{
	border: 1px solid #B5E8FD; width:80%;
	
}
#mainnews a:link{
text-decoration:none;
color:	#000000;
font-size: 14px;
}
#mainnews a:active{
text-decoration:none;
color:	#000000;
font-size: 14px;
}
#mainnews a:visited{
text-decoration:none;
color:	#000000;
font-size: 14px;
}
#mainnews a:hover{
text-decoration:none;
color:	red;
font-size: 14px;
}
#maintable-border{
	border-bottom: 2px solid #0A70BB;
	}
#telugufont{
font-weight: bold;
font-size: 14px;
	}
/*-------main manu tabs------ */
#tabs {
	float:left;
	width:100%;
	font-size:93%;
	line-height:normal;
	border-bottom:7px solid #0772b9;
	margin-bottom:0em; /*margin between menu and rest of page*/
	overflow:hidden;
	}
#tabs ul {
	margin:0;
	padding:10px 10px 0px 235px;
	list-style:none;
	}
#tabs li {
	display:inline;
	margin:0;
	padding:0;
	}
#tabs a {
	float:left;
	width:81px;
	background:url(imgs/left.png) no-repeat left top;
	margin:0;
	padding:0 0 0 6px;
	text-decoration:none;
	}


#tabs a span {
	float:1;
	font-size:17px;
	height:21px;
	display:block;
	background:url(imgs/right.png) no-repeat right top;
	padding:6px 15px 4px 12px;
	margin-right:0px;
	color:#FFF;
	font-weight: bolder;
	}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#tabs a span {float:none;}

/* End IE5-Mac hack */


#tabs a:hover {
	background-position:0% -42px;
	
	}
#tabs a:hover  span{
	background-position:100% -42px;
	
	}
#current a span{
background-position:100% -42px;
}
#current a {
background-position:0% -42px;
}

 

