#gallerynew{
padding-left:15px;
height:90%;
float:left;
width:72%;
}
#img4{
float:left;
padding-right:8px;
padding-top:8px;
}

#cr{
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
background-color:#FFFFFF;
}
#top{
background-color:#FFFFFF;
display:inline-block;
padding:0 0.7em;
white-space:nowrap;
width:50px;
height:100px;
}
#img3{
border:2px solid #767676;
}
#anchor{
	font-size:14px;
	color:#000000;
	
}
a:visited{
	font-size:14px;
	color:#000000;
	}
a:link{
	text-decoration:none;
	font-size:14px;
	color:#000000;
}
a:hover{
	text-decoration:none;
	font-size:14px;
	color:red;
}
a:active{
	text-decoration:none;
	font-size:14px;
	color:#000000;
	}
