@charset "utf-8";
body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-style: normal;
	color: #000;
	margin: 0px;
	padding: 0px;
	background-color:#C0B5B5;
	line-height: 17px;
	
}
#header
{
	border:1px solid #ccc; 
	border-bottom: 0px;
	margin-bottom:0px;
	float:left;
	background-color:#fff; 
	width:100%;
}
a{
color:#228BEE; font-size:12px; text-decoration:none;
}
#img{
	border: 1px solid gray;
	padding: 1px;
	}
.newsletter
{
background-color:#BDE0E9;
border-top:1px solid #A9CCDE;
border-bottom:1px solid #A9CCDE;
}
.ardikam{
border-top:1px solid #B57171;border-left:1px solid #B57171;border-right:1px solid #B57171;
}
ul{
	margin:0px;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:25px;
}
li{
	color:#228BEE;
	line-height: 17px;
}
#ln{
	color:#3398FF; font-size:13px; text-decoration:none;
}
#logo{
	background-image:url(../image/logo.png);
	height:62px;
	width:263px;
}
#menu{
	background-image:url(../image/img4.gif);
	background-repeat:repeat-x;
	background-position:0px -1px;
	height:29px;
	width:100%;
	margin-bottom:2px;
}
#sub_window_title{
	background-image:url(../image/img4.gif);
	background-repeat:repeat-x;
	background-position:0px -61px;
	width:100%;
	height:29px;
}
#sub_window_title_tab{
	background-image:url(../image/img4.gif);
	background-repeat:repeat-x;
	background-position:0px -61px;
	width:110px;
	height:29px;
}
#title_left_curve{
	background-image:url(../image/img4.gif);
	background-position:0px -32px;
	background-repeat:no-repeat;
	width:11px;
	height:29px;
	float:left;
}
#title_right_curve{
	background-image:url(../image/img4.gif);
	background-position:0px -90px;
	background-repeat:no-repeat;
	width:12px;
	height:29px;
	float:right;
}
#sub_window_content{
	padding-top:0px;
	margin-top:0px;
	border-left:1px solid #B57171;
	border-right:1px solid #B57171;
}
#sub_window_footer{
	height:8px;
	width:100%;
	background-image:url(../image/img4.gif);
	background-repeat:repeat-x;
	background-position:0px -142px;
}
#footer_left_curve{
	background-image:url(../image/img4.gif);
	background-position:0px -127px;
	width:12px;
	height:8px;
	float:left;
}
#footer_right_curve{
	background-image:url(../image/img4.gif);
	background-position:0px -171px;
	width:12px;
	height:8px;
	float:right;
}
#news_window_title{
	background-image:url(../image/img4.gif);
	background-repeat:repeat-x;
	background-position:0px -229px;
	width:100%;
	height:24px;
}
#news_title_left_curve{
	background-image:url(../image/img4.gif);
	background-position:0px -197px;
	width:11px;
	height:24px;
	float:left;
}
#news_title_right_curve{
	background-image:url(../image/img4.gif);
	background-position:0px -261px;
	width:11px;
	height:24px;
	float:right;
}
#news_window_content{
	border-left:1px solid #757575;
	border-right:1px solid #757575;
	border-top:1px solid #757575;
	background-color:#F6F6F6;
}
#newslet_letter{
	height:81px;
	width:100%;
}
#newslet_left{
	background-image:url(../image/news_letter.png);
	background-repeat:none;
	background-position:0px -0px;
	height:81px;
	width:5px;
	float:left;
}
#newslet_middle{
	background-image:url(../image/news_letter.png);
	background-repeat:repeat-x;
	background-position:0px -105px;
	height:81px;
	width:155px;
	float:left;
}
#newslet_right{
	background-image:url(../image/news_letter.png);
	background-repeat:none;
	background-position:0px -212px;
	height:81px;
	width:5px;
	float:left;
}
#top_img{
	background-image:url(../image/news_que.png);
	background-repeat:none;
	background-position:0px 0px;
	height:6px;
	width:100%;
}
#bot_img{
	background-image:url(../image/news_que.png);
	background-repeat:none;
	background-position:0px -7px;
	height:6px;
	width:100%;
}
#news_window_footer{
	height:8px;
	width:100%;
	background-image:url(../image/img4.gif);
	background-repeat:repeat-x;
	background-position:0px -309px;

}
#news_footer_left_curve{
	background-image:url(../image/img4.gif);
	background-position:0px -332px;
	width:12px;
	height:8px;
	float:left;
}
#news_footer_right_curve{
	background-image:url(../image/img4.gif);
	background-position:0px -290px;
	width:12px;
	height:8px;
	float:right;
}

#footer_left{
	background-image:url(../image/footer.png);
	background-position:0px 0px;
	width:18px;
	height:32px;
	float:left;
}
#footer_menu{
	background-image:url(../image/footer.png);
	background-position:0px -33px;
	background-repeat:repeat-x;
	width:100%;
	height:32px;
}
#footer_right{
	background-image:url(../image/footer.png);
	background-position:0px -67px;
	width:18px;
	height:32px;
	float:right;
}
#enati_vishe{
color:#563BBF; font-size:14px; line-height:29px;
text-align:left;
font-weight:600;
}
#special{
color:#563BBF; 
font-size:14px;
line-height:30px;
}
#sangeetham {
	list-style-image: url(../image/side.gif);
}
/* for cilk more news */
#news_more
{
color:#AEAEAE;
font-size:10px;
text-align:right;
margin-right:4px;
}
#news_more a
{
color:#AEAEAE;
font-size:10px;
text-align:right;
margin-right:4px;
text-decoration:none;
}
/* main menu */
.solidblockmenu{
margin: 0;
padding: 0;
float: left;
font:  14px Arial;
overflow: hidden;
margin-bottom: 1em;
border-width: 0px 0;
}

.solidblockmenu li{
display: inline;
color: #FFF;
width: 100px;
}

.solidblockmenu li a{
font:  14px Arial;
float: left;
padding: 0px 8px;
text-decoration: none;
height:26px;
color: #FFF;
margin-top:7px;
text-align: center;
width: 45px;
}

.solidblockmenu li a:visited{
}
.solidblockmenu li a:hover, .solidblockmenu li .current{
color: rgb(190, 191, 59);
}
#ch_color
{
	float:right;
	margin-top:5px;
	padding-right:4px;
	color:#FFF;
	width:400px;
}
/* newspage */
/* Caution! Ensure accessibility in print and other media types... */
@media projection, screen { /* Use class for showing/hiding tab content, so that visibility can be better controlled in different media types... */
    .tabs-hide {
        display: none;
    }
}

/* Hide useless elements in print layouts... */
@media print {
    .tabs-nav {
        display: none;
    }
}

/* Skin */
.tabs-nav {
    list-style: none;
    margin: 0;
    padding: 0 0 0 0;
}
.tabs-nav:after { /* clearing without presentational markup, IE gets extra treatment */
    display: block;
    clear: both;
    content: " ";
}
.tabs-nav li {
    float: left;
    margin: 0 0 0 0;
    min-width: 84px; /* be nice to Opera */
}
.tabs-nav a, .tabs-nav a span {
    display: block;
    padding: 0px 10px;
    background: url(../image/tab_4.png) no-repeat;
}
.tabs-nav a {
    position: relative;
    top: 1px;
    z-index: 2;
    padding-left: 0;
    color: #27537a;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    white-space: nowrap; /* required in IE 6 */    
}
.tabs-nav .tabs-selected a {
    color: #E82020;
}
.tabs-nav .tabs-selected a, .tabs-nav a:hover, .tabs-nav a:focus, .tabs-nav a:active {
    background-position: 100% -127px;
    outline: 0; /* prevent dotted border in Firefox */
}
.tabs-nav a, .tabs-nav .tabs-disabled a:hover, .tabs-nav .tabs-disabled a:focus, .tabs-nav .tabs-disabled a:active {
    background-position: 100% -100px;
}
.tabs-nav a span {
    width: 60px; /* IE 6 treats width as min-width */
    min-width: 64px;
    height: 18px; /* IE 6 treats height as min-height */
    min-height: 18px;
    padding-top: 6px;
    padding-right: 0;
}
*>.tabs-nav a span { /* hide from IE 6 */
    width: auto;
    height: auto;
}
.tabs-nav .tabs-selected a span {
    padding-top: 7px;
}
.tabs-nav .tabs-selected a span, .tabs-nav a:hover span, .tabs-nav a:focus span, .tabs-nav a:active span {
    background-position: 0px -27px;
}
.tabs-nav a span, .tabs-nav .tabs-disabled a:hover span, .tabs-nav .tabs-disabled a:focus span, .tabs-nav .tabs-disabled a:active span {
    background-position: 0 0;
}
.tabs-nav .tabs-selected a:link, .tabs-nav .tabs-selected a:visited, .tabs-nav .tabs-disabled a:link, .tabs-nav .tabs-disabled a:visited { /* @ Opera, use pseudo classes otherwise it confuses cursor... */
    cursor: text;
}
.tabs-nav a:hover, .tabs-nav a:focus, .tabs-nav a:active { /* @ Opera, we need to be explicit again here now... */
    cursor: pointer;
}
.tabs-nav .tabs-disabled {
    opacity: .4;
}
.tabs-container {
    border: 1px solid #B57171;
    padding: 1em 8px;
    background: #fff; /* declare background color for container to avoid distorted fonts in IE while fading */
}
.tabs-loading em {
    padding: 0 0 0 20px;
    background: url(../image/loading.gif) no-repeat 0 50%;
}
#container-1{
	width: 100%;
	}
#question{
	background-image: url(../image/123.png);
	background-repeat: no-repeat;
	height: 40px;
	font-size: 12px;color: yellow;
	text-align: center;
	width: 145px;
	margin-top: 4px;
	}
#bgslis{
background-image:url(../image/color4.gif);
background-repeat:repeat-x;
float:right; width:560px; height:28px; text-align:left;
}
#greet_font
{
	padding-left: 10px;font-size: 15px;
	color: #275666;
	font-weight: bold;
	margin-top: 3px;
}

.top-menu {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	color: #000000;
}
.top-menu-link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #03aadf;
}
#content {
	width: 708px;
}
.content {
	width: 708px;
	margin-left: 30px;
	border: 1px;
}
.content {
	height: 700px;
	border: 0px solid #000000;
}
.content #info {
	float: left;
	width: 174px;
}

greet_menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	}
#greet_menu{
	width: 144px;
	border-style: solid solid none solid;
	font-family:"Trebuchet MS";
	font-size:13px;
	border-color: #979797;
	border-size: 0px;
	border-width: 0px;
	padding-left: 2px;


	}
	
#greet_menu li a {
	height: 21px;
  	voice-family: "\"}\""; 
  	voice-family: inherit;
	text-decoration: none;
	text-align: left;
	}	
	
#greet_menu li a:link, #greet_menu li a:visited {
	color: #225E73;
	display: block;
	background:url(../image/main5.jpg);
	background-repeat:no-repeat;
	padding:3px 0 0 30px;
	text-align: left;
	}
	
#greet_menu li a:hover {
	color: #000;
	background: url(../image/hover4.jpg);
	background-repeat:no-repeat;
	padding:3px 0 0 30px;
	text-align: left;
	}
	
#greet_menu li a:active {
	color: #26370A;
	background: url(../image/li-img2.gif) repeat-x;
	padding: 4px 0 0 30px;
	text-align: left;
	}

.content #info3 #Left-footer {
	background-image: url(../image/left-footer.jpg);
	background-repeat: no-repeat;
	height: 28px;
	width: 165px;
}
#information {
	text-align:center;
	margin:0px;
	padding: 4px 0px 0px 0px;
	font-family:Geneva, Arial, Helvetica, sans-serif;
    font-size:16px;
	font-weight:bold;
	color:#FFFFFF;
	height:24px;
}
.content #bloodreq {
	margin-top: 4px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: 10px;
}


.blood-header {
	float: right;
	padding-top: 2px;
	padding-right: 3px;
	padding-bottom: 0px;
	padding-left: 0px;
	font-family: "Trebuchet MS";
	font-size: 13px;
	font-weight: bolder;
	color: #FFFFFF;
	text-transform: none;
}
#categori{
background-image:url(../image/categories5.jpg);
width:145px;
height:28px;
background-repeat:no-repeat;
margin-top:2px;
}
#paginate_div
{
	float: right;width: 40%;text-align: right;padding-right: 5px;
	color: #275666;
	font-weight: bold;
}
#paginate_div a{
	color: #275666;
	font-weight: bold;
}
.pages1 {
	font-weight: bold;
	text-align: left;
	margin-right: 5px;
	padding-right: 5px;
	text-decoration: none;
	height: 25px;
	width:100%;
	font-size: 13px;
	margin-top: 3px;
}
.pages a{
font-size: 13px;
}
#main_gree_div
{
	width:560px;float:left; margin-left:5px;border:1px solid #B57171;
	border-top: 0px;
}
#gree_td td
{
	border-top: 1px solid #B57171;
 	border-right: 1px solid #B57171;
 	padding-left: 10px;
 	height: 30px;
	font-size: 12px;
}
#gree_td
{
	border-left: 1px solid #B57171;
	border-bottom: 1px solid #B57171;
}
#gree_inner
{
float: left;text-align: center;width:650px;border: 1px solid #B57171;margin-left: 5px;
}
