body{
padding:0px;
margin:0px;
margin-left:0px;
margin-right:0px;
margin-top:0px;
margin-bottom:0px;
}

.videotop-menu {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	color: #000000;
}
.videotop-menu-link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #03aadf;
}
#content {
	width: 708px;
}
.content {
	width: 708px;
	margin-left: 30px;
	border: 1px;
}
.content {
	height: 700px;
	border: 0px solid #000000;
}
.content #info {
	float: left;
	width: 174px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	}
	

	
#videomenu {
	width: 144px;
	border-style: solid solid none solid;
	font-family:"Trebuchet MS";
	font-size:13px;
	border-color: #979797;
	border-size: 1px;
	border-width: 1px;


	}
	
#videomenu li a {
	height: 27px;
  	voice-family: "\"}\""; 
  	voice-family: inherit;
  	height: 20px;
	text-decoration: none;
	}	
	
#videomenu li a:link, #videomenu li a:visited {
	color: #707070;
	display: block;
	background:url(../image/main.jpg);
	background-repeat:no-repeat;
	padding:7px 0 0 30px;
	}
	
#videomenu li a:hover {
	color: #000;
	background: url(../image/hover.jpg);
	background-repeat:no-repeat;
	padding:7px 0 0 30px;
	}
	
#videomenu li a:active {
	color: #26370A;
	background: url(../image/li-img2.gif) repeat-x;
	padding: 7px 0 0 30px;
	}

.videocontent #info3 #Left-footer {
	background-image: url(../image/left-footer.jpg);
	background-repeat: no-repeat;
	height: 34px;
	width: 165px;
}
#information {
	text-align:center;
	margin:0px;
	padding: 7px 0px 0px 0px;
	font-family:Geneva, Arial, Helvetica, sans-serif;
    font-size:16px;
	font-weight:bold;
	color:#FFFFFF;
	height:24px;
}
.content #bloodreq {
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: 10px;
}


.blood-header {
	float: right;
	padding-top: 5px;
	padding-right: 3px;
	padding-bottom: 0px;
	padding-left: 0px;
	font-family: "Trebuchet MS";
	font-size: 13px;
	font-weight: bolder;
	color: #FFFFFF;
	text-transform: none;
}
