
body{
padding:0px;
margin:0px;
margin-left:0px;
margin-right:0px;
margin-top:0px;
margin-bottom:0px;
font-size:14px;
}
.topline{
      background-image:url(imgs/top-line.jpg);
	  background-repeat:repeat-x;
	  height:50px;
}
#video_time{
	background-color:gray;
	font-weight:bold;
	color:white;
	margin-left:90px;
	position:absolute;
	padding-top:-30px;
}	
#latestvideo_time{
	background-color:gray;
	color:white;
	font-size:11px;
	font-weight:bold;
	margin-left:106px;
	margin-top:90px;
	position:absolute;
	padding-top:-30px;
}
#buttion{
background-image:url(imgs/home.jpg);
background-repeat:no-repeat;
height:23px;
}
#buttion1{
background-image:url(imgs/about-buttion.jpg);
background-repeat:no-repeat;
height:23px;
}

#buttion2{
background-image:url(imgs/cinima.jpg);
background-repeat:no-repeat;
height:23px;
}
#buttion3{
background-image:url(imgs/vidio.jpg);
background-repeat:no-repeat;
height:23px;
}
#buttion4{
background-image:url(imgs/galleri.jpg);
background-repeat:no-repeat;
height:23px;
}
#buttion5{
background-image:url(imgs/gratings.jpg);
background-repeat:no-repeat;
height:23px; 
}
#buttion6{
background-image:url(imgs/mahila.jpg);
background-repeat:no-repeat;
height:23px;
}
#buttion7{
background-image:url(imgs/sahethi.jpg);
background-repeat:no-repeat;
height:23px;
}
#buttionline{
      background-image:url(imgs/buttion-line.jpg);
	  background-repeat:repeat-x;
	  height:7px;
}
#scrollingnews{
height:37px;

}
.div123
{
     padding:5px 5px 5px 5px;
	 border: 1px solid #D9EBF7; 
	 background-image:url(imgs/div123.jpg);
	 background-repeat:repeat-x;
	 height: 70px;
}
#leftline{
background-image:url(imgs/crow-line.jpg);
background-repeat:no-repeat;
height:318px;
}
#rightline{
background-image:url(imgs/crow-line1.jpg);
background-repeat:no-repeat;
height:318px;
}
#poli{
      background-image:url(imgs/policioal-buttion.jpg);
	  background-repeat:repeat-x;
	  height:26px;
}
#cri1{
      background-image:url(imgs/cridalu.jpg);
	  background-repeat:repeat-x;
	  height:26px;
}
#cinima2{
      background-image:url(imgs/cinima-poli.jpg);
	  background-repeat:repeat-x;
	  height:26px;
}
#vido3{
      background-image:url(imgs/vidio-poli.jpg);
	  background-repeat:repeat-x;
	  height:26px;
}
#tock-line-center{
      background-image:url(imgs/tock-line-center.jpg);
	  background-repeat:repeat-x;
	  height:34px;
	  border-top:1px solid #1D77B3;
}
#tock-botom-center{
      background-image:url(imgs/tock-botom-center.jpg);
	  background-repeat:repeat-x;
	  height:281px;
}
#add-line{
      background-image:url(imgs/add-line-center.jpg);
	  background-repeat:repeat-x;
	  height:456px;
}
#gmail-img{
      background-image:url(imgs/tock-line-center.jpg);
	  background-repeat:repeat-x;
	  height:35px;
}
#center-line{
      background-image:url(imgs/gmail-seline.jpg);
	  background-repeat:repeat-x;
	  height:166px;
}
#img-senter{
      background-image:url(imgs/tock-line-center.jpg);
	  background-repeat:repeat-x;
	  height:34px;
}
#center-img{
      background-image:url(imgs/center-nizio.jpg);
	  background-repeat:repeat-x;
	  height:220px
}
#senter3{
      background-image:url(imgs/serter-3.jpg);
	  background-repeat:repeat-x;
	  height:31px;
}
.senterbotom{
      background-image:url(imgs/senter-botom.jpg);
	  background-repeat:repeat-x;
}
#botomtop{
      background-image:url(imgs/serter-3.jpg);
	  background-repeat:repeat-x;
	  height:31px;
}
#botom-ser{
      background-image:url(imgs/botom-med.jpg);
	  background-repeat:repeat-x;
	  height:150px;
}
#political{
      border-left:1px solid #0474b6;
	  border-right:1px solid #0474b6;
}
#poli_td{
    border-left:1px solid red;  
}
#poli_td{
margin-left:1px;
}
#photigalleri{
    border-left:1px solid #3daff6;
	border-right:1px solid #3daff6;
}
#photocenter{
    border-left:1px solid #3daff6;
	border-right:1px solid #3daff6;
}
#phogalleri-sr{
      background-image:url(imgs/poli-inr-ser.png);
	  background-repeat:repeat-x;
	  height:160;
}
#photog-md{
     margin-bottom:7px;
}
#img-center{
border-right:0px solid #000099;
} 
#newstable{
	background-image: url(imgs/img-center1.jpg);
	background-repeat: repeat-x;
	border: 1px solid #3789C3;
	height:240px;
	width: 375px;
	} 
#news_heading{
	background-image: url(imgs/img-center-slic.jpg);
	background-repeat: repeat-x;
	height: 26px;
	width:100%;
	} 
#news_content{
	background-image: url(imgs/news-center.jpg);
	background-repeat: repeat-x;
	height: 500px;
	}

#news-more{
color:red;
}

#more-news-div{
text-align: right;
text-decoration: none;
font-size: 14px;
}
#more-news-div a:link{
	text-decoration: none;
	font-size: 14px;
	color: red;
	}
#more-news-div a:hover{
	text-decoration: none;
	color:#A0522D;
	font-size: 14px;
	}
#more-news-div a:visited{
	text-decoration: none;
	color:red;
	font-size: 14px;
	}
#newsheading{
	padding-left: 8px;
	font-size: 14px;
	font-weight: bold;
}
#changeview{
	text-align: right;
	
}
#news_inner{
	width:100%;
	border: 1px solid red;
	height: 100px;
}
#newsinnerleft{
	border: 1px solid red;
	height: 100px
}
#newsinner-right{
	border: 1px solid red;
	height: 100px;
}
#maintable{
border:0px;
cellpadding:5px;
cellspacing:0px;
}
.heading{
border:1px solid #9FA0A0;
height: 27px;
}
.help{
height: 30px;
border-bottom: 2px solid #9FA0A0; 
width: 89%; 
}
.divcontent{
width: 164px;
padding:0px 0px 0px 0px;
font-size:14px;
letter-spacing:2px;
border: 3px thin solid black;
}
#sahithi-table
{
 margin-top:0px;
 padding-top:0px;

}
#menu2 a {color:black;background-color:white;text-decoration:none;text-indent:1ex;}
#menu2 a:active	{color:black;text-decoration:none;}
#menu2 a:visited {color:black;text-decoration:none;}
#menu2 a:hover {color:red;background-color:#ffffff}
                    
#maindiv-news{
border:1px solid #9FA0A0;
padding:20px;
background-image: url(imgs/images3.jpg);
text-align: justify;
margin: 5px;
font-size: 14px;
}
#maindiv-news img{
	padding: 10px;
	}
#formdiv{
	border: 1px solid #B5E8FD; width:80%;
	
}
#mainnews a:link{
text-decoration:none;
color:	#000000;
font-size: 14px;
font-weight: bold;
}
#mainnews a:active{
text-decoration:none;
color:	#000000;
font-size: 14px;
font-weight: bold;
}
#mainnews a:visited{
text-decoration:none;
color:	#000000;
font-size: 14px;
font-weight: bold;
}
#mainnews a:hover{
text-decoration:none;
color:	red;
font-size: 14px;
font-weight: bold;
}
#mainnews1 a:link{
text-decoration:none;
color:	#000000;
font-weight: bold;
font-size: 14px;
}
#mainnews1 a:active{
text-decoration:none;
color:	#000000;
font-weight: bold;
font-size: 14px;
}
#mainnews1 a:visited{
text-decoration:none;
color:	#000000;
font-weight: bold;
font-size: 14px;
}
#mainnews1 a:hover{
text-decoration:none;
color:	red;
font-weight: bold;
font-size: 14px;
}
#maintable-border{
	border-bottom: 2px solid #0A70BB;

	}
#telugufont{
font-weight: bold;
font-size: 14px;
	}
#result a:link{
text-decoration: none;
color: maroon;
font-weight: bold;
}

/*-------main manu tabs------ */
#tabs {
	float:left;
	width:100%;
	font-size:93%;
	line-height:normal;
	border-bottom:7px solid #0772b9;
	margin-bottom:0em; /*margin between menu and rest of page*/
	overflow:hidden;
	}
#tabs ul {
	margin:0;
	padding:10px 10px 0px 235px;
	list-style:none;
	}
#tabs li {
	display:inline;
	margin:0;
	padding:0;
	}
#tabs a {
	float:left;
	width:81px;
	background:url(imgs/left.png) no-repeat left top;
	margin:0;
	padding:0 0 0 6px;
	text-decoration:none;
	}


#tabs a span {
	float:1;
	font-size:17px;
	height:21px;
	display:block;
	background:url(imgs/right.png) no-repeat right top;
	padding:6px 15px 4px 12px;
	margin-right:0px;
	color:#FFF;
	font-weight: bolder;
	}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#tabs a span {float:none;}

/* End IE5-Mac hack */


#tabs a:hover {
	background-position:0% -42px;
	
	}
#tabs a:hover  span{
	background-position:100% -42px;
	
	}
#current a span{
background-position:100% -42px;
}
#current a {
background-position:0% -42px;
}
#image
{
float:left;
padding:0px 20px 5px 0px;
}
#footer {
background:transparent url(imgs/footer-img.jpg) repeat-x scroll 0 0;
border-color:#BEBEBE;
border-style:solid;
border-width:1px 0 0;
color:black;
font-size:90%;
padding-top:11px;
text-align:center;
height:37px;
clear:left;
font-size:95%;
margin-bottom:2px;
margin-left:auto;
margin-right:auto;
margin-top:20px;
width:100%;
}

#footer a {
text-decoration:none;
padding-left:3px;
padding-right:3px;
font-weight:bold;
color: black;
}
#footer a:active {
color:black;
}

#footer a:link {
color:black;
}

#footer a:hover {
text-decoration:none;
color:maroon;
}

 

#video_heading{
	background-image: url(imgs/img-center-slic.jpg);
	background-repeat: repeat-x;
	height: 28px;
	width:100%;
	} 
#vi_heading{
	background-image: url(imgs/slice.jpg);
	background-repeat: repeat-x;
	height: 8px;
	width:100%;
	color:red;
	text-decoration:none;
        padding-bottom:0px;
        
	} 

#hotimg{
 background-image:url(imgs/rating3-image.jpg);
 background-repeat:no-repeat;
 margin-left: 142px; 
 height:19px;
 width:98px;
 margin-top:7px;
 padding-top:2px;
 padding-left:7px;
 font-weight:bold;
	}
	
#topimg{
background-image:url(imgs/topvideo-rating.jpg);
background-repeat:no-repeat;
	
	}	
	
#backimg{
background-image:url(imgs/middle-video-line.jpg);
background-repeat:repeat-x;
height:558px;

	}	
#divallimg{
background-image:url(imgs/all-video-middleline.jpg);
background-repeat:repeat-x;
height:116px;
	}	
/*------#hotvi{
 font-size:12px;
 font-weight:bold;
 text-align:left;
	}------*/
#topvi{
padding-left:5px;
padding-top:5px;
font-size:11px;
font-weight:bold;
	}		
#allvi{
 background-image:url(imgs/video-top.jpg);
 background-repeat:repeat-x;
 border:1px solid #9D9D9D;
 margin-left:6px; 
 font-size:14px;
 font-weight:bold;
 height:20px;
 width:640px; 
 padding-left:5px;
 padding-top:4px;
 tex-align:left;

}


#hotvideo{
 background-image:url(imgs/video-top.jpg);
 background-repeat:repeat-x;
 border:1px solid #9D9D9D;
 height:20px;
 width:640px;
 padding-left:5px;
 padding-top:3px;
 margin-left:6px;
 font-size:14px;
 font-weight:bold;
}

#hotvi{
background-image:url(imgs/video-top.jpg);
background-repeat:repeat-x;
height:20px;
border:1px solid #9D9D9D;
height:20px;
width:640px;
text-align:right; 
/*margin-top:2px;*/
float:left;           
padding-top:0px;
}


#topvideo{
background-image:url(imgs/video-top.jpg);
background-repeat:repeat-x;
border:1px solid #9D9D9D;
height:20px;
font-size:14px;
font-weight:bold;
padding-top:0px;
text-align:center;
}
#top-videocure
	{
	width:241px;
	height:4px;
	background-image:url(imgs/top-video-line.jpg);
	background-repeat:no-repeat;
 }
 #li-vi{
 font-size:12px;
 font-weight:bold;
  margin-right:10px;
  text-align:left;
 padding-top:2px;
 padding-left:2px;
 }
#telugufont1{
	font-size: 14px;
	
	}
/* =-=-=-=-=-=-=-[gallery Menu One]-=-=-=-=-=-=-=- */
#menu {
	
	border-style: solid solid none solid;
	font-family:"Trebuchet MS";
	font-size:13px;
	border-color: #B0d9EF;
	border-size: 0px;
	border-width: 0px;
	text-align: center;
	width: 159px;
	
	}
	
#menu li a {
	height: 27px;
  	voice-family: "\"}\""; 
  	voice-family: inherit;
	text-decoration: none;
	width: 159px;
	}	
	
#menu li a:link, #menu li a:visited {
	color: #000000;
	display: block;
	background: url(imgs/li-img.gif) repeat-x;
	border-left:0px solid #0772ba;
	border-right:0px solid #0772ba;
	padding: 0px 0 0 0px;
	width: 159px;
	}
	
#menu li a:hover {
	color: #f30e0e;
	background: url(imgs/li-img2.gif) repeat-x;
	padding: 0px 0px 0px 0px;
	width: 159px;
	}
	
#menu li a:active {
	color: #26370A;
	background: url(imgs/li-img2.gif) repeat-x;
	padding: 0px 0px 0px 0px;
	width: 159px;
	}

.content #info3 #Left-footer {
	background-image: url(imgs/left-footer.jpg);
	background-repeat: no-repeat;
	height: 34px;
	width: 159px;

}
#information {
	text-align:center;
	padding: 0px 0px 0px 0px;
	font-family:Geneva, Arial, Helvetica, sans-serif;
    font-size:16px;
	font-weight:bold;
	color:#000000;
	height:33px;
	background-image: url(imgs/left-footer.jpg); 
	margin: 0px;
}
#ga_topmenu
{
background-image: url(imgs/tock-line-center.jpg);
background-repeat: repeat-x;
height: 22px;
}
#gal_menucen
{
background-image: url(imgs/tock-line-center.jpg);
background-repeat: repeat-x;
height: 21px;
width: 594px;
}
#gal_center-top
{
background-image: url(imgs/body-center.jpg);
background-repeat: repeat-x;
}
#gal_center-botom
{
background-image: url(imgs/body-bottomCr.jpg);
background-repeat: repeat-x;
}
#gal_middle
{
background-color:#EBEBEB;
border-left: 2px solid #0A70BB;
border-right: 2px solid #0A70BB;
}
	
#gall_names a:link{
text-decoration:none;
color:	#000000;
font-size: 14px;
}
#gall_names a:active{
text-decoration:none;
color:	#000000;
font-size: 14px;
}
#gall_names a:visited{
text-decoration:none;
color:	#000000;
font-size: 14px;
}
#gall_names a:hover{
text-decoration:none;
color:	red;
font-size: 14px;
}
#gall_botto_img
{
background-image: url(imgs/photos-name.png);
background-repeat: no-repeat;
height: 25px;
width:132px;
font-size: 14px;

}
#gall_botto_img a:link
{
text-decoration:none;
color:	#000000;
font-size: 14px;
}
#gall_botto_img a:active{
text-decoration:none;
color:	#000000;
font-size: 14px;
}
#gall_botto_img a:visited{
text-decoration:none;
color:	#000000;
font-size: 14px;
}
#gall_botto_img a:hover{
text-decoration:none;
color:	red;
font-size: 14px;
}
#gree_bar
{
	background-image: url(imgs/123-img.jpg);
	background-repeat: repeat-x;
	text-align: center;
	padding-bottom: 19px;
	width: 600px;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 14px;
	height: 25px;
}
#img{
border:2px solid #767676;
}

#gree_inner
{
border: 1px solid #939393;
background-image: url(imgs/senter-botom.jpg);
background-repeat: repeat-x;
width: 222px;
}
#gree_cen
{
	border: 1px solid #939393;
	background-image: url(imgs/center-img.jpg);
	background-repeat: repeat-x;
	height: 160px;
}
#gree_bar1{
	background-image: url(imgs/gal-bottom.jpg);
	background-repeat: repeat-x;
	height: 20px;
	font-size: 14px;
	color: #FFFFFF;
	font-weight: bold;
	}
#more-news-div1{
padding-right:5px;
padding-top:5px;
text-align:right;
text-decoration:none;
font-size: 14px;
color: #FFFFFF;
font-weight: bold;
}
#more-news-div1 a:link{
	text-decoration: none;
	font-size: 14px;
	color: #FFFFFF;
	font-weight: bold;
	}
#more-news-div1 a:hover{
	text-decoration: none;
	color:red;
	font-size: 14px;
	font-weight: bold;
	}
#more-news-div1 a:visited{
	text-decoration: none;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	}	
#gree-summery{
	text-align: justify;padding: 5px 5px 0px 15px;
	font-size: 14px;
	}
#vi-name
{
	font-size:12px;
	font-weight:bold;
	color:#000000;
	padding-left:25px;
	padding-top:8px;

}
#left_news
{
	border: 1px solid #9FA0A0;
	border-top: 0px solid;
	background-image: url(imgs/tock-botom-center.jpg);
	background-repeat: repeat-x;
	}
	
.viname a:visited{
text-decoration:none;
font-size:12px;
color:#000000;
}
.viname a:link{
text-decoration:none;
font-size:12px;
color:#000000;
}

.viname a:hover{
color:red;
}
.viname a:active{
	font-size:12px;
	color:#000000;
}

.hiname a:visited{
text-decoration:none;
color:black;
}
.hiname a:link{
text-decoration:none;
font-size:12px;
font-weight:bold;
}

.hiname a:hover{
color:red;
}
.pages {
	font-weight: bold;
	text-align: right;
	margin-right: 5px;
	padding-right: 5px;
	text-decoration: none;
}
.pages a{
	color: maroon;
	font-weight: bold;
	text-decoration: none;
	padding: 0px 2px 0px 0px;
}
.pages a:link{
	color: maroon;
	font-weight: bold;
	text-decoration: none;
}
.pages a:visited{
	color: maroon;
	font-weight: bold;
	text-decoration: none;
}
.pages a:hover{
	color: red;
	font-weight: bold;
	text-decoration: none;
}
.pages a:active{
	color:white;
	font-weight: bold;
	text-decoration: none;
}

a:link{
	color: maroon;
	text-decoration: none;
}
a:visited{
	color: maroon;
	text-decoration: none;
}
a:hover{
	color: red;
	text-decoration: none;
}
a:active{
	color:white;
	text-decoration: none;
}
#center-img1{
	border-bottom: 1px solid #50BCFC;
	background-image:url(imgs/gmailseline.jpg);
	background-repeat:repeat-x;
}
hr{
	 border: 1px solid rgb(55, 137, 195);
}

#video_botto_img
{
background-image: url(imgs/photos-name.jpg);
background-repeat: no-repeat;
height: 25px;
width:132px;
padding-right:3px;
margin-left:1px;
margin-right:3px; 
margin-top:0px;
font-size: 14px;
}
#video_botto_img a:link
{
text-decoration:none;
color:	#000000;
font-size: 14px;
}
#video_botto_img a:active{
text-decoration:none;
color:	#000000;
font-size: 14px;
}
#video_botto_img a:visited{
text-decoration:none;
color:	#000000;
font-size: 14px;
}
#video_botto_img a:hover{
text-decoration:none;
color:	red;
font-size: 14px;
}

#catvideo_time{
	background-color:gray;
	color:white;
	font-size:11px;
	font-weight:bold;
	margin-left:97px;
	margin-top:72px;
	position:absolute;
	padding-top:-30px;
}
#latevideo_time{
	background-color:gray;
	color:white;
	font-size:11px;
	font-weight:bold;
	margin-left:71px;
	margin-top:56px;
	position:absolute;
	padding-top:-30px;
}
#topvideo_time{
	background-color:gray;
	color:white;
	font-size:11px;
	font-weight:bold;
	margin-left:62px;
	margin-top:46px;
	position:absolute;
	padding-top:-30px;
}
#topvideo_time a:visted{
	font-size:11px;
	font-weight:bold;
	color:white;
	}
#topvideo_time a:hover{
	font-size:11px;
	font-weight:bold;
	color:white;
	}	
#topvideo_time a:link{
	font-size:11px;
	font-weight:bold;
	color:white;	
}
#cinemavideo_time{
	background-color:gray;
	color:white;
	font-size:11px;
	font-weight:bold;
	margin-left:97px; 
	margin-top:72px;
	position:absolute;
	padding-top:-30px;
}

.contacts_gmail_selected{
	background-image: url(imgs/Groups1.png);
	background-position: 0px -48px;
	height: 24px;
	width: 70px;
	cursor: pointer;
}
.contacts_gmail{
	background-image: url(imgs/Groups1.png);
	height: 24px;
	width: 70px;
	cursor: pointer;
}
.contacts_yahoo_selected{
	background-image: url(imgs/Groups1.png);
	background-position: 0px -72px;
	height: 24px;
	cursor: pointer;
	width: 70px;
}
.contacts_yahoo{
	background-image: url(imgs/Groups1.png);
	background-position: 0px -24px;
	height: 24px;
	width: 70px;
	cursor: pointer;
}
#home_bottom a:link
{
text-decoration:none;
color:	#000000;
font-size: 13px;
}
#home_bottom a:active{
text-decoration:none;
color:	#000000;
font-size: 13px;
}
#home_bottom a:visited{
text-decoration:none;
color:	#000000;
font-size: 13px;
}
#home_bottom a:hover{
text-decoration:none;
color:	red;
font-size: 13px;
}
#tabs_background{
	background-image:url(imgs/gmailseline.jpg);
background-repeat:repeat-x;
}
#tabs_backgrou_gree{
	background-image:url(imgs/scrool-img.jpg);
background-repeat:repeat-x;
}